*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#f3f3f3;
    font-family: Arial, sans-serif;
}

.navbar{
    background-color: #2f3d4f;
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:2;
    position: fixed;
    width: 100%;
}

.navbar__brand__img{
    width:100px;
    height:95px;
    margin-left:auto;
    margin-right:auto;
}

 .navbar__search{
     width: 60%;
     position: relative;
 }
 
 .navbar__search__input{
     width: 100%;
     border:none;
     outline: none;
     border-radius: 50px;
     padding: 5px;
     padding-left: 40px;
     font-size: 16px;
     font-weight: bolder;
 }

 .navbar__search__input::placeholder{
     color:#2f3d4f;
 }

 .navbar__search__input__icon{
    color:#aebb3f;
    position:absolute;
    left: 0;
    top:5px;
    padding: 0px 0px 0px 10px;
 }
 
.navbar__user{
    padding: 10px;
    color: #ffffff;
}
    
.content{
    display:flex;    
}

.content__sidebar{
    width:170px;
    height: 100%;
    padding: 10px 0;
    box-shadow: 2px 0px 4px 4px rgba(219,216,219,1);
    font-size: 20px;
    background-color:#ffffff;
    z-index:1;
    margin-top: 60px;
    position: fixed;
    color:#87868c;
}

.content__sidebar__list__item{
    padding: 5px 10px;
    margin: 10px;
}

.content__sidebar__list__item:hover{
    color:#aebb3f;
    cursor: pointer;
}

.content__main{
    width: 100%;
    padding: 30px;
    margin-left: 200px;
    margin-top: 60px;    
}

.content__main__list{
    width: 90%;
    margin:0 auto;
    padding: 0px;
    list-style-type: none;
    box-shadow: 0px 1px 4px 4px rgba(219,216,219,1);
    border-radius: 5px;
    color:#87868c;
}

.content__main__list__row{
    border-bottom:1px solid rgba(219,216,219,1);
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding:15px;
}
.content__main__list__row_user{
    width: 40%;
    padding: 5px;
}  

.content__main__list__row:last-child{
    border-bottom: none;
}

.content__main__list__row__name{
    font-size: 25px;  
}

.content__main__list__row_user__link{
    text-decoration:none;
    color:#2f3d4f;
}

.content__main__list__row_user__link:visited{
    text-decoration:none;
}

.content__main__list__row__photo{
    width: 45px;
    border-radius: 50px;
}

.content__main__list__row__icons__itens{
    width: 30px;
    cursor: pointer;
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
    /* Inicio Estilos navbar */
    .navbar{
        height: auto;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .navbar__mobile{
        display: block;
        color: #ffffff;
        margin: 5px;
    }
    .navbar__brand__img{
        width:90px;
        height:85px;
        margin-left:5px;
        margin-right:5px;
    }
    .navbar__user{
     
    }

    .navbar__search{
        /*width: 95%;*/
        margin:0 auto;
        margin-bottom: 10px;
    }
    .navbar__search__input{
        
    }
    /* Fim Estilos navbar */

    /* Inicio Estilos content*/
    .content__main{
        width: 90%;
        margin-left: 0px;
        position: relative;
        padding: 20px;
    }

    .content__main__list{
        width: 100%;
        margin: 0 auto;
        margin-top: 130px;
        
    }
    .content__main__list__row{
        display:table;
        width:100%;
        padding:0px;
    }
    .content__main__list__row_user{
        width: 60%;
        padding: 8px;
    }  
    .content__main__list__row__photo{
      display: none;
    }
    /* Fim Estilos content*/

    /*Inicio estilo sideBar*/
    .content__sidebar{
        display: none;
        width: 90%;
        height: 100px;
        margin: 0 auto;
        margin-top: 150px;
        position: absolute;
       
    }
    .content__sidebar__list__item{
        padding: 5px 10px;
        margin: 10px;
        
    }

}
@media (min-width: 768px) and (max-width: 979px) {
    
    /* Inicio Estilos content*/
    .content__main{
        width: 90%;
        margin-left: 180px;
        position: relative;
        padding: 10px;
    }
    .content__main__list{
        width: 100%;
        margin: 0 auto;
    }
    .content__main__list__row{
        width:100%;
        padding:3px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 50px  120px 140px 120px 120px 120px;
      
    }
    .content__main__list__row_user{
        width: 100%;
        padding: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
    }  
    .content__main__list__row__photo{
        width: 35px;
      }

    /* Inicio Estilos SideBar*/    
    .content__sidebar{
        width:160px;
        height: 100%;
    }
}
@media(min-width: 980px) {

    /* Inicio Estilos content*/
    .content__main{
        position: relative;
        padding: 10px;
    }
    .content__main__list{
        width: 100%;
        margin: 0 auto;
    }
    .content__main__list__row{
        width:100%;
        padding:10px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 70px  120px 140px 120px 120px 130px;
    }
    .content__main__list__row_user{
        width: 100%;
        padding: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
    }  
}